/* create project  */
body {
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	margin-top: 40px;
}
* {
	margin: 0;
	padding: 0;
}
.regform {
	width: 60%;
	background-color: (211,211,211);
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 5px 10px 8px #888888;
	background-color: lightcyan;
	margin-bottom: 20px;
}
.main {
	background-color: white;
	width: 60%;
	margin: auto;
	height: 55%;
	box-shadow: 5px 10px 8px #3a6b6b;
}
form {
	padding: 10px;
}

// Registration 

#name {
	width: 100%;
	height: 100px;
}
.name {
	margin-left: 25px;
	margin-top: 30px;
	width: 150px;
	color: black;
	font-size: 22px;
	font-weight: 700;
}
.firstname {
	position: relative;
	left: 190px;
	top: -29px;
    width: 300px;
	margin-right: 20px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
}
.middlename {
	position: relative;
	left: 190px;
	margin-right: 20px;
	top: -29px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
}
.lastname {
	position: relative;
	left: 190px;
	top: -29px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
}
.access {
	margin-top: -2px;
	margin-left: 25px;
	width: 125px;
	color: black;
	font-size: 22px;
	font-weight: 700;
}
.option {
	position: relative;
	left: 190px;
	top: -23;
	border-radius: 6px;
	height: 45px;
	padding: 0 22px;
	font-size: 20px;
	width: 300px;
    background-color: white;
	border: 2px solid black;
}
#terms {
	margin-left: -32px;
	margin-top: 1px;
	width: 125px;
}
.condition {
	color: black;
	font-size: 18px;
}
.btn {
	background-color: rgb(255, 60, 0);
	border-radius: 6px;
	display: block;
	margin: 20px 0px 0px 20px;
	color: black;
	border: 2px solid;
	padding: 12px 120px;
	cursor: pointer;
	font-size: 22px;
	text-align: center;
	float: right;
	&:hover {
		background-color: green;
	}
}


// create-project
.projectform {
	width: 60%;
	background-color: (211,211,211);
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 5px 10px 8px #888888;
	background-color: lightcyan;
	margin-bottom: 25px;
}
.name1 {
	margin-left: 25px;
	margin-top: 30px;
	color: black;
	font-size: 22px;
	font-weight: 700;
	width: 300px;
}
.project {
	position: relative;
	left: 300px;
	top: -29px;
	margin-right: 20px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
	width: 500px;
}
.member {
	position: relative;
	left: 300px;
	margin-right: 20px;
	top: -29px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
	width: 500px;
}
.date {
	position: relative;
	left: 300px;
	top: -29px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
	width: 500px;
}
.btn-outline{
    outline: none;
    display: block;
    border: solid 1px #00B1D5;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 5px;
    background: #ffffff;
    color: #000;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-left: 685px;
    margin-top: -25px;
    &:hover {
		background-color: green;
	}
  }
  .btn-create {
    background-color: rgb(215, 229, 230);
    border-radius: 6px;
    display: block;
    margin: 225px 0px 0px 20px;
    color: black;
    // border: 2px solid;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    float: right;
    box-shadow: 5px 10px 8px #888888;

  }



//   ticket creation
.ticketform{
    width: 60%;
	background-color: (211,211,211);
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 5px 10px 8px #888888;
	background-color: lightcyan;
	margin-bottom: 25px;
}
.main3 {
	background-color: white;
	width: 60%;
	margin: auto;
	height: 70%;
	box-shadow: 5px 10px 8px #3a6b6b;
}
.option1 {
    position: relative;
    left: 300px;
    top: -23;
    border-radius: 6px;
    height: 45px;
    padding: 0 22px;
    font-size: 20px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
  }
  .btn-ticket-create{
    background-color: rgb(188, 252, 246);
    border-radius: 6px;
    display: block;
    margin: 425px 0px 0px 20px;
    color: black;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    margin-left: 360;
    box-shadow: 5px 10px 8px #888888;
  }
  .text-box{
    position: relative;
	left: 300px;
	top: -29px;
	border-radius: 6px;
	line-height: 40px;
	padding: 0 22px;
	font-size: 16px;
	width: 500px;
    border: 2px solid black;
  }
//  Reconciliation
.reconcillform{
    width: 60%;
	background-color: (211,211,211);
	margin: auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	box-shadow: 5px 10px 8px #888888;
	background-color: lightcyan;
	margin-bottom: 25px;
}
.name3{
    border: 1px dashed black;
    box-shadow: 5px 10px 8px #888888;
    height: 200px;
}
  .choose-file{
	margin-left: 25px;
	margin-top: 30px;
	color: black;
	font-size: 22px;
	font-weight: 700;
    height: 100px;
	width: 1050px;
    // border: 1px solid black;
}
/* The container */
.checkbox-inline{
    font-size: 22px;  
    height: 20px;  
}
input.list {
    width: 22px;
    height: 20px;
    display: inline;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 4px 4px 3px #888888;
}
.btn-submit{
    background-color: #c5c4eb;
    border-radius: 6px;
    display: block;
    margin: 225px 0px 0px 20px;
    color: black;
    // border: 2px solid red;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    float: right;
    margin-top: 325px;
    box-shadow: 5px 2px 2px #888888;
}
.contains {
    border: 1px dashed black;
    box-shadow: 5px 10px 8px #888888;
    height: 150px;
    margin-top: 20px;
}