/* create project  */
body {
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .regform {
    width: 60%;
    background-color: 211, 211, 211;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
    background-color: lightcyan;
    margin-bottom: 20px;
  }
  
  .main {
    background-color: white;
    width: 60%;
    margin: auto;
    height: 55%;
    -webkit-box-shadow: 5px 10px 8px #3a6b6b;
            box-shadow: 5px 10px 8px #3a6b6b;
  }
  
  form {
    padding: 10px;
  }
  
  #name {
    width: 100%;
    height: 100px;
  }
  
  .name {
    margin-left: 25px;
    margin-top: 30px;
    width: 150px;
    color: black;
    font-size: 22px;
    font-weight: 700;
  }
  
  .firstname {
    position: relative;
    left: 190px;
    top: -29px;
    width: 300px;
    margin-right: 20px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
  }
  
  .middlename {
    position: relative;
    left: 190px;
    margin-right: 20px;
    top: -29px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
  }
  
  .lastname {
    position: relative;
    left: 190px;
    top: -29px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
  }
  
  .access {
    margin-top: -2px;
    margin-left: 25px;
    width: 125px;
    color: black;
    font-size: 22px;
    font-weight: 700;
  }
  
  .option {
    position: relative;
    left: 190px;
    top: -23;
    border-radius: 6px;
    height: 45px;
    padding: 0 22px;
    font-size: 20px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
  }
  
  #terms {
    margin-left: -32px;
    margin-top: 1px;
    width: 125px;
  }
  
  .condition {
    color: black;
    font-size: 18px;
  }
  
  .btn {
    background-color: #ff3c00;
    border-radius: 6px;
    display: block;
    margin: 20px 0px 0px 20px;
    color: black;
    border: 2px solid;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    float: right;
  }
  
  .btn:hover {
    background-color: green;
  }
  
  .projectform {
    width: 60%;
    background-color: 211, 211, 211;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
    background-color: lightcyan;
    margin-bottom: 25px;
  }
  
  .name1 {
    margin-left: 25px;
    margin-top: 30px;
    color: black;
    font-size: 22px;
    font-weight: 700;
    width: 300px;
  }
  
  .project {
    position: relative;
    left: 300px;
    top: -29px;
    margin-right: 20px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
    width: 500px;
  }
  
  .member {
    position: relative;
    left: 300px;
    margin-right: 20px;
    top: -29px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
    width: 500px;
  }
  
  .date {
    position: relative;
    left: 300px;
    top: -29px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
    width: 500px;
  }
  
  .btn-outline {
    outline: none;
    display: block;
    border: solid 1px #00B1D5;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 5px;
    background: #ffffff;
    color: #000;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-left: 685px;
    margin-top: -25px;
  }
  
  .btn-outline:hover {
    background-color: green;
  }
  
  .btn-create {
    background-color: #d7e5e6;
    border-radius: 6px;
    display: block;
    margin: 225px 0px 0px 20px;
    color: black;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    float: right;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
  }
  
  .ticketform {
    width: 60%;
    background-color: 211, 211, 211;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
    background-color: lightcyan;
    margin-bottom: 25px;
  }
  
  .main3 {
    background-color: white;
    width: 60%;
    margin: auto;
    height: 70%;
    -webkit-box-shadow: 5px 10px 8px #3a6b6b;
            box-shadow: 5px 10px 8px #3a6b6b;
  }
  
  .option1 {
    position: relative;
    left: 300px;
    top: -23;
    border-radius: 6px;
    height: 45px;
    padding: 0 22px;
    font-size: 20px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
  }
  
  .btn-ticket-create {
    background-color: #bcfcf6;
    border-radius: 6px;
    display: block;
    margin: 425px 0px 0px 20px;
    color: black;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    margin-left: 360;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
  }
  
  .text-box {
    position: relative;
    left: 300px;
    top: -29px;
    border-radius: 6px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 16px;
    width: 500px;
    border: 2px solid black;
  }
  
  .reconcillform {
    width: 60%;
    background-color: 211, 211, 211;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
    background-color: lightcyan;
    margin-bottom: 25px;
  }
  
  .name3 {
    border: 1px dashed black;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
    height: 200px;
  }
  
  .choose-file {
    margin-left: 25px;
    margin-top: 30px;
    color: black;
    font-size: 22px;
    font-weight: 700;
    height: 100px;
    width: 1050px;
  }
  
  /* The container */
  .checkbox-inline {
    font-size: 22px;
    height: 20px;
  }
  
  input.list {
    width: 22px;
    height: 20px;
    display: inline;
    margin-left: 50px;
    margin-top: 20px;
    -webkit-box-shadow: 4px 4px 3px #888888;
            box-shadow: 4px 4px 3px #888888;
  }
  
  .btn-submit {
    background-color: #c5c4eb;
    border-radius: 6px;
    display: block;
    margin: 225px 0px 0px 20px;
    color: black;
    padding: 12px 120px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    float: right;
    margin-top: 325px;
    -webkit-box-shadow: 5px 2px 2px #888888;
            box-shadow: 5px 2px 2px #888888;
  }
  
  .contains {
    border: 1px dashed black;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
    height: 150px;
    margin-top: 20px;
  }
  /*# sourceMappingURL=style.css.map */